body {
    font-family: Arial, sans-serif;
    background: linear-gradient(33deg,#007bff,#dc3545,#59dc35);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .todo-container {
    width: 360px;
    background-color: #e0abab;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .todo-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .todo-text {
    flex: 1;
    margin-left: 10px;
  }
  
  .todo-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .add-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 2.3rem;
    margin: 3px;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  